.vscode/**
src/**
webview-ui/**
test/**
node_modules/**
.gitignore
tsconfig*.json
webpack.config.js
vitest.config.ts
*.map
.eslintrc*
.pnpm-store/**
pnpm-lock.yaml
pnpm-workspace.yaml
parsers/**
dist/**/*.d.ts
dist/**/*.d.ts.map
